body, html {
	width: 100%;
	height: 100%;
	margin: 0;
}

.game {
	width: 100%;
	height: 100%;
}

.left-section {
	width: 65%;
	height: 95%;
	float: left;
	border-collapse: collapse;
}

.right-section {
	width: 35%;
	height: 95%;
	float: right;
	background-color: royalblue;
	border-collapse: collapse;
}

.bottom-bar {
	width: 100%;
	height: 5%;
	float: left;
	border-collapse: collapse;
	background-color: #4da6ff;
	display: grid;
	grid-template-columns: 15% 15% 70%;
}

.clickArea {
	height: 100%;
	width: 100%;
	background-image: url("img/goldCoins.jpeg");
}

.wrapper {
	display: grid;
	grid-template-columns: 100px 100px 100px;
	grid-gap: 5px;
	color: #444;
}

.box {
	color: #fff;
	border-radius: 5px;
	padding: 10px;
	font-size: 100%;
}
